.login {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  .left-side {
    width: 57%;
    float: left;
    background-image: url("../../assets/images/Login\ Background.svg");
    background-position-y: -8px;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    position: relative;
    .heading {
      font-size: 36px;
      font-weight: 600;
      color: #fff;
      margin-top: 150px;
    }
    .student {
      height: 400px;
      width: 350px;
      overflow: hidden;
      position: absolute;
      right: 180px;
      top: 200px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/student.png");
    }
    .teacher {
      height: 270px;
      width: 240px;
      overflow: hidden;
      position: absolute;
      left: 180px;
      top: 260px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -100px;
      background-image: url("../../assets/images/teacher.png");
    }
    .right-dot {
      position: absolute;
      top: 207px;
      right: 120px;
      width: 100px;
    }
    .left-dot {
      position: absolute;
      top: 477px;
      left: 120px;
      width: 100px;
    }
  }
  .right-side {
    width: 43%;
    float: left;
    padding: 110px 80px;
    overflow: hidden;
    height: 100vh;
    .mobileLogo {
      display: none;
    }
    .welcome {
      font-size: 24px;
      text-align: left;
      color: #000000;
      font-weight: 600;
    }
    .buttons {
      border-bottom: 0.5px solid #bdbdbd;
      padding-bottom: 40px;
      button {
        width: 31%;
        height: 33px;
        line-height: 35px;
        font-size: 12px !important;
        overflow: hidden;
        text-align: center;
        background-color: #fff;
        img {
          height: 40px;
          position: relative;
          top: 2px;
        }
        span {
          position: relative;
          top: -3px;
          left: 4px;
          font-weight: 600;
        }
        &.tw {
          margin: 0 3%;
        }
      }
      .fb {
        background-size: cover;
        background-position: center;
        background-image: url("../../assets/images/fb.svg");
      }
      .tw {
        background-size: cover;
        background-position: center;
        background-image: url("../../assets/images/tw.svg");
      }
      .gg {
        border: 0.30000001192092896px solid #d8d8d8;
        background-size: cover;
        background-position: center;
        background-image: url("../../assets/images/gg.svg");
      }
    }
    .or {
      margin-top: -10px;
      text-align: center;
      span {
        background-color: #fff;
        padding: 0 35px;
      }
    }
    .form {
      padding-top: 30px;
      margin-bottom: 80px;
      .label {
        font-weight: 600;
        color: #000;
        font-size: 12px;
      }
      input {
        background: #f8f8f8;
        height: 50px;
        border: 0;
        width: 100%;
        padding: 0 20px;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 16px;
        &:focus {
          outline: none;
          border: 1px solid #eee;
        }
      }
      .forgot {
        float: right;
        font-size: 12px;
        position: relative;
        top: -5px;
      }
      .main-btn {
        height: 50px;
        width: 100%;
        font-weight: 600;
      }
      .no-acct a {
        font-size: 12px;
        position: relative;
        top: 10px;
        cursor: pointer;
      }
    }
    .cc {
      color: rgba(0, 0, 0, 0.438);
      font-size: 12px;
      max-width: 250px;
      line-height: 16px;
      margin-top: 100px;
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    .left-side {
      display: none;
    }
    .right-side {
      width: 100%;
      padding: 160px 20px 20px;
      position: relative;
      .mobileLogo {
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;
        img {
          height: 30px;
          display: inline-block;
        }
      }
      .welcome {
        font-size: 20px;
      }
      .buttons {
        padding-bottom: 40px;
        button {
          img {
            height: 13px;
            position: relative;
            top: 0px;
          }
        }
      }
      .form {
        input {
          margin-bottom: 15px;
        }
      }
    }
  }
}
