.progress-bar {
  height: 10px;
  background: #f8f8f8;
  width: 100%;
  border-radius: 40px;
  .indicator {
    height: 10px;
    background: #10a3ff;
    border-radius: 40px;
    transition: linear all 0.3s;
  }
}
