.progress-bar {
  height: 15px;
  background: #f8f8f8;
  width: 100%;
  border-radius: 40px;
  overflow: hidden;
  .indicator {
    height: 15px;
    background: #10a3ff;
    border-radius: 40px;
    transition: linear all 0.3s;
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    height: 10px;
    .indicator {
      height: 10px;
    }
  }
}
