.leaderboard {
  padding: 10px;
  border-radius: 8px;
  background-color: #fcf5ea;

  .heading {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 0 0 20px 0;
    background-color: #fcf5ea;
    span {
      font-size: 10px;
      color: #c2c2c2;
      font-weight: 300;
    }
  }
  .people {
    padding: 4px 20px;
    .first {
      background: #f2a304;
      color: #fff;
    }
    .second {
      background: #32c5ff;
      color: #fff;
    }
    .third {
      background: #002984;
      color: #fff;
    }
    .others {
      background: transparent;
      border: 0.5px solid #dbdbdb;
      color: #696969;
    }
    .my {
      color: #4b4b4b;
      font-size: 12px;
      margin-top: 20px;
      margin-bottom: 18px;
    }
    .mine {
      background: #f62d1e;
      color: #fff;
      transform: scale(1.06);
      position: relative;
      top: -10px;
    }

    .person {
      padding: 12px;
      border-radius: 7px;
      font-size: 12px;
      margin-bottom: 12px;
      position: relative;
      img {
        height: 22px;
        margin-right: 10px;
      }
      .position {
        padding: 15px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
        position: relative;
        top: -5px;
      }
      .photo {
        border-radius: 50%;
      }

      .name {
        position: relative;
        font-size: 12px;
        top: -6px;
      }

      .points {
        float: right;
        position: relative;
        top: 5px;
      }
      .best {
        position: absolute;
        top: -10px;
        right: -50px;
        width: 100px;
      }
    }
  }
}
