.dashboard {
  background: #fafafa;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  .user_,
  .user-details_,
  .medals_ {
    display: none;
  }
  .links-wrap {
    display: none;
  }
  .side {
    width: 20%;
    float: left;
  }
  .contents {
    width: 80%;
    height: calc(100% - 75px);
    float: left;
    overflow: auto;
    .banner {
      height: 180px;
      width: 100%;
      padding: 20px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/dash.svg");
      background-position-x: 80%;
      p {
        font-size: 24px;
        font-weight: 600;
        color: #ffff;
        position: absolute;
        bottom: 0px;
        left: 40px;
      }
    }
    .main-content {
      padding: 20px;
    }
  }
}
// .learn {
.react-responsive-modal-modal {
  padding: 0 !important;
  // width: 1000px !important;
  max-width: 100% !important;
  .banner {
    height: 200px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 80px;
    background-position-x: 0px;
    background-size: 101%;
    background-repeat: no-repeat;
    .main-text {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 53px;
    }
    .sub-text {
      font-size: 16px;
      margin-top: 5px;
    }
  }
  .modal-data {
    padding: 40px 60px;
    background-color: #fafafa;
    height: 400px;
    overflow: auto;
    text-align: center;
    .class {
      width: 220px;
      height: 50px;
      margin-right: 12px;
      border-radius: 5px;
      border: 0;
      color: #fff;
      input {
        margin-right: 5px;
        border: 0;
      }
    }
    .subject {
      padding: 15px 50px;
      margin: 0 15px 15px 0;
      border-radius: 5px;
      border: 0;
      color: #fff;
      position: relative;
      input {
        margin-right: 5px;
        border: 0;
        border: 1px solid #fff;
        background-color: transparent;
        position: absolute;
        left: 18px;
        top: 12px;
      }
    }
    .coming {
      background: #f5f5f5;
      padding: 20px;
      margin-top: 50px;
      em {
        color: #8a8a8a;
      }
    }
  }
  .modal-footer {
    border-top: 1px solid #e2e2e2;
    background-color: #fafafa;
    width: 100%;
    height: 80px;
    text-align: right;
    padding: 30px;
    button {
      padding: 0 20px;
      height: 40px;
      position: relative;
      top: -10px;
    }
  }

  .quiz-modal {
    .left {
      width: 50%;
      height: 700px;
      float: left;
      background-size: cover;
    }
    .left1 {
      background-image: url("../../assets/images/Test\ Introduction.svg");
    }
    .left2 {
      background-image: url("../../assets/images/review.svg");
    }
    .right {
      width: 50%;
      float: left;
      padding: 100px 50px;
      .header {
        font-size: 30px;
        font-weight: 600;
      }
      .desc {
        font-size: 14px;
        width: 70%;
      }
      .duration {
        font-size: 30px;
        font-weight: 600;
        .span {
          display: block;
        }
      }
      .radios {
        span {
          font-size: 14px;
          display: block;
          padding: 15px 0;
          cursor: pointer;
          input {
            transform: scale(1.5);
            margin-right: 12px;
          }
          .blue--text {
            font-size: 10px;
            width: 60%;
            margin: 10px 30px 0;
            p {
              line-height: 16px;
            }
            div {
              display: inline-block;
              width: 75px;
              padding: 10px 0 0 0;
              color: #bbbbbb;
              margin-right: 10px;
              text-align: center;
              span {
                padding: 3px 6px;
              }
              input {
                transform: scale(1);
                width: 100%;
                height: 50px;
                text-align: center;
                border: 1px solid #eee;
              }
            }
          }
        }
      }
      .scores {
        h4 {
          font-size: 12px;
        }
        h2 {
          font-size: 20px;
          font-weight: 600;
        }
      }
      .btm {
        border-top: 1px solid #eee;
        text-align: center;
        height: 100px;
        width: 50%;
        padding: 30px 0;
        position: absolute;
        bottom: 0;
        right: 0;
        button {
          padding: 10px !important;
          width: 28%;
          margin: 0 5px;
          img {
            height: 15px;
            position: relative;
            top: 2px;
          }
        }
        .share {
          position: absolute;
          top: -25px;
          width: 100%;
          span {
            background-color: #fff;
            padding: 5px 10px;
          }
        }
      }
      button {
        padding: 15px 30px;
      }
    }
  }
}
// }
.react-responsive-modal-closeButton {
  top: -35px !important;
  right: -42px !important;
  svg {
    fill: #fff;
  }
}

@media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
  .links-wrap {
    display: block !important;
    width: 100%;
    background-color: #fff;
    padding: 0 20px;
    margin-bottom: 25px;
  }
  .side {
    width: 0;
    display: none;
  }
  .contents {
    width: 100% !important;
    .banner {
      height: 200px !important;
      text-align: center;
      p {
        display: none;
      }
      .user_ {
        width: 75px;
        height: 75px;
        background-color: #10a3ff;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        line-height: 100px;
        position: relative;
        display: block !important;
        .usericon {
          height: 70%;
          margin: 12px auto;
        }
        .edit {
          position: absolute;
          right: -5px;
          top: -5px;
          background-color: #fff;
          text-align: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0px 3px 6px #00000029;
          img {
            height: 10px;
            position: relative;
            top: -22px;
            height: 15px !important;
          }
        }
      }

      .user-details_ {
        font-size: 15px !important;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0px !important;
        margin-top: 5px;
        display: block !important;
        color: #fff;
        position: unset !important;
        span {
          display: block;
          font-size: 12px !important;
          font-weight: 300;
          padding-top: 4px;
        }
      }

      .medals_ {
        text-align: center;
        margin-top: 0px;
        display: block !important;
        .medal {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin: 10px;
          text-align: center;
          img {
            height: 10px;
            position: relative;
            top: 2px;
          }
          span {
            display: block;
            position: relative;
            top: 8px;
            font-size: 12px;
            color: #fff;
          }
        }
        .b1 {
          background: #e6e6e6;
        }
        .b2 {
          background: #a172fd;
        }
        .b3 {
          background: #d45fc1;
        }
        .b4 {
          background: #3a93d3;
        }
        .b5 {
          background: #b90b10;
        }
      }
    }
    .main-content {
      padding: 0px !important;
    }
  }
  .react-responsive-modal-modal {
    .quiz-modal {
      .left {
        display: none;
      }
      .right {
        width: 100%;
        padding: 30px;
      }
    }
    .quiz-quuestion {
      .upper {
        padding: 20px;
        overflow: auto;
        .content {
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          .answer {
            p {
              margin-left: 25px;
            }
          }
          .question {
            font-size: 15px;
            line-height: 21px;
          }
        }
        .passage {
          display: block;
          width: 100%;
          padding: 20px;
          height: auto;
          padding-bottom: 120px;
          background: #f0f0f0;
          border: 1px solid #b9b9b9;
          margin-top: 20px;
        }
      }
      .footer {
        width: 100%;
        background: #fff;
        padding: 20px;
        height: 80px;
        font-size: 12px;
        button {
          padding: 12px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .quiz-quuestion .upper .passage {
    position: relative !important;
  }
}
