.dashboard {
  background: #fafafa;
  height: 100vh;
  position: absolute;
  width: 100%;
  top: 0;
  .mobile-photo,
  .user-details_,
  .medals_ {
    display: none;
  }
  .links-wrap {
    display: none;
  }
  .side {
    width: 20%;
    float: left;
  }
  .contents {
    width: 80%;
    height: calc(100% - 65px);
    float: left;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    .mobile-title-text,
    .mobile-title {
      display: none;
    }
    .banner {
      height: 160px;
      width: calc(100% - 80px);
      margin: 40px 40px 0px;
      border-radius: 8px;
      padding: 20px;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../assets/images/dash.svg");
      background-position-x: 80%;
      p {
        font-size: 20px;
        font-weight: 600;
        color: #ffff;
        position: absolute;
        bottom: 5px;
        left: 40px;
      }
    }
    .main-content {
      padding: 20px;
      padding-bottom: 254px;
      min-height: calc(100vh - 200px);
    }
  }
  .none {
    display: none !important;
  }
}
// .learn {
.react-responsive-modal-modal {
  padding: 0 !important;
  // width: 1000px !important;
  max-width: 100% !important;
  .banner {
    height: 200px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 80px;
    background-position-x: 0px;
    background-size: 101%;
    background-repeat: no-repeat;
    .main-text {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 53px;
    }
    .sub-text {
      font-size: 16px;
      margin-top: 5px;
    }
  }
  .modal-data {
    padding: 40px;
    background-color: #fafafa;
    height: 350px;
    overflow: auto;
    text-align: center;
    .class {
      width: 220px;
      height: 50px;
      border-radius: 5px;
      border: 0;
      color: #fff;
      margin: 0 10px;
      input {
        margin-right: 5px;
        border: 0;
      }
    }
    .subject {
      padding: 0px 50px;
      margin: 0 15px 15px 0;
      border-radius: 5px;
      border: 0;
      color: #fff;
      position: relative;
      text-transform: uppercase;
      input {
        margin-right: 5px;
        border: 0;
        border: 1px solid #fff;
        background-color: transparent;
        position: absolute;
        left: 18px;
        top: 12px;
      }
    }
    .coming {
      background: #f5f5f5;
      padding: 20px;
      margin-top: 50px;
      em {
        color: #8a8a8a;
      }
    }
  }
  .modal-footer {
    border-top: 1px solid #e2e2e2;
    background-color: #fafafa;
    width: 100%;
    height: 80px;
    text-align: right;
    padding: 30px;
    button {
      padding: 0 20px;
      height: 40px;
      position: relative;
      top: -10px;
    }
  }

  .quiz-modal {
    .left {
      width: 50%;
      height: 700px;
      float: left;
      background-size: cover;
    }
    .left1 {
      background-image: url("../../assets/images/Test\ Introduction.svg");
      background-position-x: 64%;
    }
    .left2 {
      background-image: url("../../assets/images/review.svg");
    }
    .right {
      width: 50%;
      float: left;
      padding: 100px 50px;
      .header {
        font-size: 30px;
        font-weight: 600;
      }
      .desc {
        font-size: 14px;
        width: 70%;
      }
      .duration {
        font-size: 30px;
        font-weight: 600;
        .span {
          display: block;
        }
      }
      .radios {
        span {
          font-size: 14px;
          display: block;
          padding: 15px 0;
          cursor: pointer;
          input {
            transform: scale(1.5);
            margin-right: 12px;
          }
          .blue--text {
            font-size: 14px;
            width: 60%;
            margin: 10px 30px 0;
            p {
              line-height: 16px;
            }
            div {
              display: inline-block;
              width: 75px;
              padding: 10px 0 0 0;
              color: #bbbbbb;
              margin-right: 10px;
              text-align: center;
              span {
                padding: 3px 6px;
              }
              input {
                transform: scale(1);
                width: 100%;
                height: 50px;
                text-align: center;
                border: 1px solid #eee;
              }
            }
          }
        }
      }
      .scores {
        h4 {
          font-size: 12px;
        }
        h2 {
          font-size: 20px;
          font-weight: 600;
        }
      }
      .btm {
        border-top: 1px solid #eee;
        text-align: center;
        height: 100px;
        width: 50%;
        padding: 30px 0;
        position: absolute;
        bottom: 0;
        right: 0;
        button {
          padding: 0 10px !important;
          width: 28%;
          margin: 0 5px;
          img {
            height: 15px;
            position: relative;
            top: 2px;
          }
        }
        .share {
          position: absolute;
          top: -25px;
          width: 100%;
          span {
            background-color: #fff;
            padding: 5px 10px;
          }
        }
      }
      button {
        padding: 0 30px;
      }
    }
  }

  .video-modal {
    width: 100%;
    margin-top: 2vh;
    height: 88vh;
    position: relative;
    .videos {
      display: inline-block;
      width: 30%;
      border-right: 1px solid #eee;
      height: 100%;
      position: absolute;
      top: 0;
    }
    .frame {
      width: 70%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
    }
    .streak {
      position: absolute;
      bottom: 110px;
      right: 40px;
      overflow: hidden;
      width: 300px;
      height: 130px;
      z-index: 12323;
      background: #fff;
      padding: 15px 25px;
      border-radius: 10px;
      .streak-text {
        display: inline-block;
        width: 60%;
        padding-left: 20px;
        position: relative;
        top: -10px;
      }
    }
  }
  .subscribe-modal {
    .top {
      padding: 50px 30px;
      text-align: center;
      .close {
        display: none;
      }
      .sm {
        font-size: 12px;
        color: #000000;
      }
      .amt {
        color: #10a3ff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: -20px;
      }
      .box {
        // width: 281px;
        height: 272px;
        background: #ffffff;
        box-shadow: 3px 12px 32px #0000000d;
        border-radius: 5px;
        opacity: 1;
        display: inline-block;
        margin: 0 20px;
        padding: 80px;
        margin-top: 20px;
        cursor: pointer;
        border: 2px solid #fff;
        &.selected {
          border: 2px solid #10a3ff;
          border-radius: 0;
        }
        p {
          margin-top: 20px;
        }
      }
    }
    .btm {
      text-align: center;
      padding: 30px 40px;
      border-top: 0.5px solid #ebebeb;
      button {
        padding: 0px 40px;
      }
    }
    @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
      height: auto;
      .top {
        .box {
          padding: 12px 20px;
          height: auto;
          width: 100%;
          margin: 10px 0;
          img {
            width: 50px;
          }
          p {
            display: inline-block;
            width: 70%;
            position: relative;
            top: -15px;
            left: -20px;
          }
        }
      }
      .btm {
        border-top: 0;
        padding-top: 0;
        button {
          width: 100%;
        }
      }
      .close {
        display: inline;
      }
    }
  }
  .levels-modal {
    padding: 30px;
    position: relative;
    .blue--text {
      text-align: center;
      font-size: 16px;
    }
    .levels {
      width: 300px;
      margin-top: 30px;
      .level {
        padding: 30px 15px;
        text-align: center;
        border-radius: 0;
        margin-bottom: 20px;
        font-size: 14px;
        &.selected {
          border: 3px solid #10a3ff;
        }
        img {
          float: left;
          position: relative;
          top: -15px;
          left: 15px;
        }
        span {
          margin-left: -30px;
          font-size: 16px;
        }
      }
    }
    .btn {
      text-align: center;
      button {
        padding: 0 40px;
      }
    }
  }
}
// }
.react-responsive-modal-closeButton {
  top: -45px !important;
  right: -25px !important;
  svg {
    fill: #fff;
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    right: -5px !important;
  }
}

@media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
  .links-wrap {
    display: block !important;
    width: 100%;
    background-color: #fff;
    padding: 0 20px;
    margin-bottom: 25px;
  }
  .side {
    width: 0;
    display: none;
  }
  .contents {
    width: 100% !important;
    .banner {
      height: 200px !important;
      text-align: center;
      background-position-x: 50% !important;
      transition: linear all 0.25s;
      width: 100% !important;
      margin: 0 !important;
      border-radius: 0 !important;
      &.shrink {
        height: 110px !important;
      }
      .title_ {
        display: none;
      }
      .mobile-title-text {
        display: block;
        font-size: 12px;
        padding: 10px 25px;
        background-color: #5eade4;
        color: #fff;
        position: absolute;
        bottom: 45px;
        left: 20px;
        border-radius: 25px;
      }
      .mobile-title {
        display: block;
        font-size: 16px !important;
        left: 20px !important;
        // bottom: 15px !important;
      }
      .user-photo {
        width: 120px;
        height: 120px;
        background-color: #10a3ff;
        border-radius: 50%;
        margin: 0 auto;
        text-align: center;
        line-height: 100px;
        position: relative;
        display: block !important;
        .usericon {
          height: 83%;
          margin: 12px auto;
        }
        .edit_ {
          position: absolute;
          right: -5px;
          top: -5px;
          background-color: #fff;
          text-align: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0px 3px 6px #00000029;
          img {
            height: 10px;
            position: relative;
            top: -22px;
            height: 15px !important;
          }
        }
      }
      .mobile-photo {
        display: block !important;
      }
      .user-details_ {
        font-size: 15px !important;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0px !important;
        margin-top: 5px;
        display: block !important;
        color: #fff;
        position: unset !important;
        span {
          display: block;
          font-size: 12px !important;
          font-weight: 300;
          padding-top: 4px;
        }
      }

      .medals_ {
        text-align: center;
        margin-top: 0px;
        display: block !important;
        .medal {
          display: inline-block;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin: 10px;
          text-align: center;
          img {
            height: 10px;
            position: relative;
            top: 2px;
          }
          span {
            display: block;
            position: relative;
            top: 8px;
            font-size: 12px;
            color: #fff;
          }
        }
        .b1 {
          background: #e6e6e6;
        }
        .b2 {
          background: #a172fd;
        }
        .b3 {
          background: #d45fc1;
        }
        .b4 {
          background: #3a93d3;
        }
        .b5 {
          background: #b90b10;
        }
      }
    }
    .main-content {
      padding: 0px !important;
    }
  }
  .react-responsive-modal-modal {
    .banner {
      height: 200px;
      width: 100%;
      color: #fff;
      text-align: center;
      padding: 30px;
      background-position-x: 0px;
      background-size: cover;
      background-repeat: no-repeat;
      .main-text {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 53px;
      }
      .sub-text {
        font-size: 16px;
        margin-top: 5px;
      }
    }
    .modal-data {
      padding: 20px;
      .coming {
        text-align: left;
        padding-top: 10px;
        em {
          position: relative;
          top: -35px;
          left: -20px;
        }
      }
      .subject {
        // width: 49%;
        // margin: 0 1% 10px;
        // display: inline-block;
        margin: 0 0 10px;
        width: 100%;
      }
      .class {
        width: 100%;
        margin: 0 0 10px;
      }

      // .small {
      //   width: 31.1%;
      // }
      // .mid {
      //   width: calc(48%);
      // }
      // .wide {
      //   width: 100%;
      // }
    }
    .modal-footer {
      font-size: 12px;
    }
    .quiz-modal {
      .left {
        display: none;
      }
      .right {
        width: 100%;
        padding: 30px;
      }
      .lets-start {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        padding: 20px;
        left: 0;
        button {
          width: 100%;
        }
      }
    }
    .quiz-quuestion {
      .upper {
        padding: 20px;
        overflow: auto;
        .instruction {
          .time {
            width: 20px;
            position: absolute;
            right: 50px;
            top: -30px;
            min-width: 210px;
            cursor: pointer;
            font-size: 36px;
            background-color: #f8f8f8;
            text-align: center;
            padding: 5px;
          }
        }
        .content {
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          .answer {
            p {
              margin-left: 25px;
            }
          }
          .question {
            font-size: 15px;
            line-height: 21px;
          }
        }
        .passage {
          display: block;
          width: 100%;
          padding: 20px;
          height: auto;
          padding-bottom: 120px;
          background: #f0f0f0;
          border: 1px solid #b9b9b9;
          margin-top: 20px;
        }
      }
      .footer {
        width: 100%;
        background: #fff;
        padding: 20px;
        height: 80px;
        font-size: 12px;
        button {
          padding: 0 12px;
        }
      }
    }
    .video-modal {
      .videos {
        display: inline-block;
        width: 0% !important;
        border-right: 1px solid #eee;
        height: 100%;
        position: absolute;
        top: 0;
      }
      .frame {
        width: 100% !important;
        height: 100%;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
      }
      .streak {
        right: 10px;
        width: 200px !important;
        padding: 12px;
        img {
          width: 40px;
        }
        .top {
          font-size: 14px;
          font-weight: 600;
          margin: 20px 0 0;
        }
      }
    }
  }
  .react-responsive-modal-overlay {
    padding: 0 !important;
  }
}

@media (max-width: 1024px) {
  .quiz-modal {
    .right {
      .radios {
        span {
          .blue--text {
            width: 90% !important;
            div {
              width: 60px;
            }
          }
        }
      }
    }
  }
  .quiz-quuestion {
    .upper {
      .passage {
        position: relative !important;
        width: 100% !important;
        margin: 0 !important;
        top: -20px !important;
        padding-bottom: 20px !important;
        margin-bottom: 60px !important;
      }
      .instruction {
        margin-top: 25px;
        .time {
          position: absolute;
          right: unset !important;
          top: -35px !important;
          width: 120px !important;
          min-width: 120px !important;
          cursor: pointer;
          font-size: 18px !important;
          background-color: #f8f8f8;
          text-align: center;
          padding: 5px;
          left: 0 !important;
        }
      }
    }
  }
  .video-modal {
    .streak {
      .streak-text {
        width: 75% !important;
      }
    }
    .videos {
      display: none !important;
    }
    .frame {
      width: 100%;
      .video-name {
        font-size: 12px;
      }
    }
  }
}
