.badges {
  background-color: #fff;
  height: 140px;
  .medals {
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    .medal {
      display: inline-block;
      width: 20%;
      height: 30px;
      border-radius: 50%;
      margin: 10px 0;
      text-align: center;
      img {
        height: 24px;
        position: relative;
        top: 2px;
      }
      span {
        display: block;
        position: relative;
        top: 5px;
        // background: #fff;
        font-size: 12px;
      }
    }
  }
  .b1 {
    background: #e6e6e6;
  }
  .b2 {
    background: #a172fd;
  }
  .b3 {
    background: #d45fc1;
  }
  .b4 {
    background: #3a93d3;
  }
  .b5 {
    background: #b90b10;
  }
  .heading {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 20px 15px;
    margin: 0;
    .coins {
      font-size: 12px;
      color: #000;
      font-weight: 300;
      float: right;
      position: relative;
      top: -6px;
      img {
        width: 20px;
        position: relative;
        top: 5px;
        margin-right: 5px;
      }
    }
  }
}
