.lesson-wrap {
  .lesson {
    font-size: 14px;
    padding: 3px 30px;
    cursor: pointer;
    color: #232325;
    &:hover {
      background-color: #fafafa;
    }
  }

  .react-responsive-modal-modal {
    width: 80% !important;
  }

  @media (max-width: 767px) {
    .lesson {
      p {
        margin: 7px 0;
      }
    }
  }
}
