.lesson-wrap {
  .lesson {
    // font-size: 10px;
    padding: 1px 25px;
    cursor: pointer;
    color: #232325;
    &:hover {
      background-color: #fafafa;
    }
    p {
      span {
        position: relative;
        top: -6px;
      }
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    .lesson {
      p {
        margin: 7px 0;
      }
    }
  }
}
