.quiz {
  padding: 20px 30px;
  margin-bottom: 20px;
  .quiz-heading {
    font-size: 18px;
  }
  .sub-heading {
    font-size: 12px;
  }
  .blue-btn {
    padding: 10px 20px;
  }
  .patterns {
    float: right;
    position: relative;
    .dots {
      height: 50px;
      position: absolute;
      right: 173px;
    }
    .pattern1 {
      height: 100px;
      position: absolute;
      right: 42px;
      top: -20px;
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 20px;
    margin-bottom: 10px;
    .quiz-heading {
      font-size: 16px;
      font-weight: 600;
    }
    .sub-heading {
      width: 60%;
    }
    .patterns {
      .dots {
        display: none;
      }
      .pattern1 {
        height: 90px;
        top: -60px;
        right: 0;
      }
    }
  }
}
