.quiz {
  padding: 20px 30px;
  margin-bottom: 20px;
  .quiz-heading {
    font-size: 18px;
    margin-top: 0px;
  }
  .custom-img:hover {
    transition: ease-in;
    width: 150px;
    cursor: zoom-out;
  }
  .sub-heading {
    font-size: 12px;
  }
  .blue-btn {
    padding: 10px 20px;
    &.sm-btn {
      display: none;
    }
    &.big-btn {
      display: block;
    }
  }
  .patterns {
    float: right;
    position: relative;
    .dots {
      height: 50px;
      position: absolute;
      right: 153px;
      top: -60px;
    }
    .pattern1 {
      height: 100px;
      position: absolute;
      right: 42px;
      top: -100px;
    }
  }
  .mobile-quiz {
    display: none;
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    .quiz-heading {
      font-size: 16px;
      font-weight: 600;
    }
    .sub-heading {
      width: 60%;
    }
    .blue-btn {
      &.sm-btn {
        display: block;
      }
      &.big-btn {
        display: none;
      }
    }
    .patterns {
      .dots {
        display: none;
      }
      .pattern1 {
        height: 90px;
        top: -90px;
        right: 0;
        &.pull-up {
          top: -95px !important;
        }
      }
    }
    .mobile-quiz {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      padding-bottom: 20px;
      overflow: hidden;
      background-color: #002984;
      color: #fff;
      z-index: 121212121;
      padding: 20px;
      background-image: url("../../assets/images/floater.svg");
      background-repeat: no-repeat;
      background-position: 20px 101%;

      .lets-start {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #fff;
        padding: 20px;
        left: 0;
        button {
          width: 100%;
        }
      }

      .right {
        .header {
          font-size: 24px;
          font-weight: 600;
          padding-top: 50px;
          .close-mobile-quiz {
            width: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
          }
        }
        .desc {
          font-size: 14px;
          width: 70%;
        }
        .duration {
          font-size: 30px;
          font-weight: 600;
          .span {
            display: block;
          }
        }
        .radios {
          span {
            font-size: 14px;
            display: block;
            padding: 15px 0;
            cursor: pointer;
            input {
              transform: scale(1.5);
              margin-right: 12px;
            }
            .blue--text {
              font-size: 10px;
              width: 60%;
              margin: 10px 30px 0;
              color: #dadada !important;
              p {
                line-height: 16px;
              }
              div {
                display: inline-block;
                width: 75px;
                padding: 10px 0 0 0;
                color: #bbbbbb;
                margin-right: 10px;
                text-align: center;
                span {
                  padding: 3px 6px;
                }
                input {
                  transform: scale(1);
                  width: 100%;
                  height: 50px;
                  text-align: center;
                  border: 1px solid #eee;
                }
              }
            }
          }
        }
        .scores {
          margin: 45px 0;
          h4 {
            font-size: 12px;
          }
          h2 {
            font-size: 20px;
            font-weight: 600;
            margin: -5px 0;
          }
        }
        .btm {
          border-top: 1px solid #eee;
          text-align: center;
          height: 80px;
          width: 100%;
          padding: 21px 0;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #fff;
          button {
            padding: 0 10px !important;
            width: 28%;
            margin: 0 5px;
            img {
              height: 15px;
              position: relative;
              top: 2px;
            }
          }
          .share {
            display: none;
            span {
              background-color: #fff;
              padding: 5px 10px;
            }
          }
        }
        button {
          padding: 0 30px;
        }
      }
    }
  }
}
