.statistics {
  .legends {
    padding-top: 20px;
    .legend {
      display: inline-block;
      width: 25%;
      p {
        color: #acacac;
        font-size: 12px;
        margin-bottom: 5px;
        span {
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          position: relative;
          left: -3px;
          top: -1px;
        }
      }
      span {
        color: #000;
        font-size: 20px;
      }
    }
    .vids {
      width: 50%;
    }
  }
}
