.courses-wrap {
  position: relative;
  .courses {
    text-align: center;
    display: flex;
    // max-height: 230px;
    overflow: auto;

    .title {
      width: 100%;
    }
    .course {
      // background: #e0f3ff;
      font-size: 12px;
      // color: #10a3ff;
      text-align: center;
      margin: 0 0 15px;
      padding: 15px;
      &.greyed {
        filter: grayscale(100%);
        pointer-events: none;
      }
    }

    .flex-grid-thirds {
      display: flex;
      flex-flow: wrap;
      // justify-content: space-between;
      p {
        width: 100%;
        text-align: left;
      }
      .course {
        font-size: 12px;
        color: #fff !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        padding-right: 7.5px !important;
        padding-left: 7.5px !important;
        height: 40px;
        line-height: 40px;
        margin: 4px 2px;
        position: relative;
        &:hover {
          font-weight: 600;
          cursor: pointer;
        }
        .new {
          position: absolute;
          top: 19%;
          right: -15px;
          width: 25px;
          z-index: 10;
        }
      }
      .small {
        width: 31.1%;
      }
      .mid {
        width: calc(48%);
      }
      .wide {
        width: 100%;
      }
    }
  }
  .tw-btn {
    padding: 0 15px;
    width: 100%;
    display: block;
    position: absolute;
    // top: 240px;
    // z-index: 12324343;
  }
  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    .courses {
      max-height: unset !important;
    }
  }
}
