.learn {
  height: calc(100vh - 295px);
  overflow-y: hidden;
  padding: 0 20px;
  .heading {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 20px 30px;
    margin: 0;
    background-color: #fff;
    span {
      font-size: 10px;
      color: #c2c2c2;
      font-weight: 300;
    }
  }
  .wide-side {
    float: left;
    width: 70%;
    .lessons-wrap {
      background-color: #fff;
      padding-bottom: 0px;
      .lessons {
        height: 195px;
        overflow: hidden;
        margin-top: 0;
      }
      .sub-heading {
        font-size: 14px;
        margin-top: 0;
        color: #aaaaaa;
        padding: 30px;
        margin-bottom: 0;
        button {
          padding: 12px 20px;
          margin-top: -10px;
        }
      }
      .lessons {
        // height: 200px;
        // overflow: auto;
      }
    }
    .quizzes {
      background-color: #fff;
    }
  }
  .narrow-side {
    float: right;
    width: calc(30% - 30px);
    .badge-wrap {
      width: 100%;
    }
    .students {
      display: none;
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    .wide-side {
      width: 100%;
      display: block;
      .lessons-wrap {
        .lessons {
          height: auto;
        }
      }
    }
    .narrow-side {
      padding: 20px;
      width: 100%;
      .badge-wrap {
        display: none;
      }
      .students {
        display: block;
        width: 90%;
        margin: 30px auto;
      }
    }
  }
}

.learnModal {
  width: 80% !important;
  max-width: 1000px;
}
