.sidebar {
  border-right: 1px solid #e9e9e9;
  height: calc(100vh - 75px);
  padding: 30px 0;
  position: relative;
  background-color: #fff;
  .upper {
    .user-photo {
      width: 90px;
      height: 90px;
      background-color: #10a3ff;
      border-radius: 50%;
      margin: 0 auto;
      text-align: center;
      line-height: 100px;
      // overflow: hidden;
      position: relative;
      .edit_ {
        position: absolute;
        right: -5px;
        top: -5px;
        background-color: #fff;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0px 3px 6px #00000029;
        img {
          height: 20px;
          position: relative;
          top: -14px;
        }
      }
    }

    .user-details {
      font-size: 15px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 60px;
      span {
        display: block;
        font-size: 13px;
        font-weight: 300;
        padding-top: 7px;
      }
    }
  }
  .students {
    width: 76%;
    margin: auto 12%;
    margin-top: 30px;
    position: absolute;
    bottom: 20px;
  }
}

.links-list {
  padding: 0 20px;
  li {
    padding: 13px 20px;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
    color: #aaaaaa;
    margin-bottom: 10px;
    span {
      position: relative;
      top: -2px;
    }
    svg {
      fill: #aaaaaa;
      margin-right: 15px;
    }
    .icon {
      margin-right: 30px;
    }
    &.active {
      color: #fff;
      background-color: #0097f5;
      border-radius: 10px;
      svg {
        fill: #fff !important;
      }
    }
    @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
