.mobile-courses {
  .courses-wrap {
    height: calc(100vh - 300px);
    position: relative;
    .courses {
      max-height: 45vh !important;

      .flex-grid-thirds .course {
        font-size: 18px !important;
        margin: 7px 7px !important;
      }
    }
    .tw-btn {
      position: absolute;
      bottom: 0;
    }
  }
}
