/* BASIC SETUP */
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");
.page-wrapper {
  width: 100%;
  height: auto;
}

.page-wrapper .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@media screen and (min-width: 1300px) {
  .page-wrapper {
    font-size: 18px;
  }
}

@media screen and (min-width: 1700px) {
  .page-wrapper {
    font-size: 22px !important;
  }
}

.page-wrapper .nav-wrapper {
  /* HEADINGS */
  padding-left: 180px;
  padding-right: 180px;
  z-index: 999;
  width: 100%;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  padding-bottom: 1em;
  background-color: #fff;
  /* NAVIGATION */
  /* MOBILE MENU & ANIMATION */
  /* KEYFRAME ANIMATIONS */
  /* Media Queries */
  /* Mobile Devices - Phones/Tablets */
}

.page-wrapper .nav-wrapper #nav-icon1 {
  margin-top: -28px !important;
  margin-right: 20px !important;
}

.page-wrapper .nav-wrapper * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-wrapper .nav-wrapper h1,
.page-wrapper .nav-wrapper p {
  color: #fff;
  text-align: center;
  line-height: 1.4;
}

.page-wrapper .nav-wrapper h1 {
  font-size: 2.2rem;
}

@media screen and (max-width: 768px) {
  .page-wrapper .nav {
    -webkit-box-shadow: 0px 3px 6px #0000000d !important;
            box-shadow: 0px 3px 6px #0000000d !important;
  }
  .page-wrapper .nav-wrapper h1 {
    letter-spacing: 1px !important;
    line-height: 1.1 !important;
  }
}

.page-wrapper .nav-wrapper h2 {
  color: #000;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .page-wrapper .nav-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    background: white 0% 0% no-repeat padding-box;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
  }
}

.page-wrapper .nav-wrapper .navbar {
  height: 50px;
  padding: 12px 0 !important;
}

@media screen and (min-width: 768px) {
  .page-wrapper .nav-wrapper .navbar {
    width: 100%;
  }
}

.page-wrapper .nav-wrapper .navbar img.desktop {
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .page-wrapper .nav-wrapper .navbar img.desktop {
    display: none;
  }
}

.page-wrapper .nav-wrapper .navbar img.mobile {
  display: none;
  padding-left: 15px;
}

@media screen and (max-width: 600px) {
  .page-wrapper .nav-wrapper .navbar img.mobile {
    display: block;
  }
}

.page-wrapper .nav-wrapper .navbar img {
  height: 40px;
  max-height: 50px;
  -ms-grid-column-align: start;
  justify-self: start;
}

.page-wrapper .nav-wrapper .navbar ul {
  margin-top: 0;
  float: right;
  background-image: url("../../assets/images/floater.svg");
  background-repeat: no-repeat;
  background-position: 20px 101%;
}

.page-wrapper .nav-wrapper .navbar ul li {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .page-wrapper .nav-wrapper .navbar ul li.sign__up a {
    color: white;
    border: 1px solid #10a3ff;
    background-color: #10a3ff;
    padding: 1em 2em;
  }
}

@media screen and (min-width: 768px) {
  .page-wrapper .nav-wrapper .navbar ul li {
    padding: 0.7em 2em;
    display: inline-block;
    list-style: none;
  }
  .page-wrapper .nav-wrapper .navbar ul li.courses {
    display: none;
  }
  .page-wrapper .nav-wrapper .navbar ul li.about {
    display: none;
  }
  .page-wrapper .nav-wrapper .navbar ul li.sign__up {
    background-color: #10a3ff;
  }
  .page-wrapper .nav-wrapper .navbar ul li.sign__up a {
    color: white;
  }
}

.page-wrapper .nav-wrapper .nav-item a {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.page-wrapper .nav-wrapper .nav-item a:hover {
  color: #3498db;
}

.page-wrapper .nav-wrapper .menu-toggle .bar {
  margin-right: 15px !important;
  width: 25px;
  height: 3px;
  z-index: 999;
  top: 5px;
  position: relative;
  background-color: #10a3ff;
  margin: 5px auto;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.page-wrapper .nav-wrapper .menu-toggle .bar:nth-child(1) {
  position: relative;
  right: 3px;
}

.page-wrapper .nav-wrapper .menu-toggle .bar:nth-child(2) {
  position: relative;
  left: 5px;
}

.page-wrapper .nav-wrapper .menu-toggle .bar:nth-child(3) {
  position: relative;
  right: 3px;
}

.page-wrapper .nav-wrapper .menu-toggle {
  -ms-grid-column-align: end;
  justify-self: end;
  display: none;
}

.page-wrapper .nav-wrapper .menu-toggle:hover {
  cursor: pointer;
}

.page-wrapper .nav-wrapper #mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
  color: white;
}

.page-wrapper .nav-wrapper #mobile-menu.is-active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  color: white;
}

.page-wrapper .nav-wrapper #mobile-menu.is-active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
  color: white;
}

@-webkit-keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradbar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 720px) {
  .page-wrapper .nav {
    /* MOBILE HEADINGS */
    /* MOBILE NAVIGATION */
    /* SECTIONS */
    /* SEARCH DISABLED ON MOBILE */
    position: fixed;
    top: 0;
  }
  .page-wrapper .nav-wrapper .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 50px;
  }
  .page-wrapper .nav-wrapper h1 {
    font-size: 1.9rem;
  }
  .page-wrapper .nav-wrapper h2 {
    font-size: 1rem;
  }
  .page-wrapper .nav-wrapper p {
    font-size: 0.8rem;
  }
  .page-wrapper .nav-wrapper .navbar ul {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: #002984;
    width: 100%;
    padding-top: 30%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    top: 0px;
    margin: 0 !important;
  }
  .page-wrapper .nav-wrapper .navbar ul.no-search {
    display: none;
  }
  .page-wrapper .nav-wrapper .navbar ul.open {
    display: block !important;
  }
  .page-wrapper .nav-wrapper .navbar li {
    padding: 20px 15px;
  }
  .page-wrapper .nav-wrapper .navbar li:first-child {
    margin-top: 50px;
  }
  .page-wrapper .nav-wrapper .navbar li a {
    text-transform: uppercase;
    font-size: 1rem;
    color: white !important;
  }
  .page-wrapper .nav-wrapper .menu-toggle,
  .page-wrapper .nav-wrapper .bar {
    display: block;
    cursor: pointer;
  }
  .page-wrapper .nav-wrapper .mobile-nav {
    -webkit-transform: translate(0%) !important;
    transform: translate(0%) !important;
  }
  .page-wrapper .nav-wrapper .headline {
    height: 20vh;
  }
  .page-wrapper .nav-wrapper .feature-container p {
    margin-bottom: 25px;
  }
  .page-wrapper .nav-wrapper .feature-container {
    margin-top: 20px;
  }
  .page-wrapper .nav-wrapper .feature-container:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .page-wrapper .nav-wrapper #search-icon {
    display: none;
  }
  .page-wrapper .nav-wrapper .search-input {
    display: none;
  }
}

.page-wrapper .hero__section {
  margin-top: 3em;
}

.page-wrapper .hero__section .wrap__tutor {
  position: relative;
}

.page-wrapper .hero__section .wrap__tutor .top__dot {
  z-index: 1;
  width: 20%;
  right: -2.5em;
  top: -2em;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .page-wrapper .hero__section .wrap__tutor .top__dot {
    right: -0.5em;
  }
}

.page-wrapper .hero__section .wrap__tutor .bottom__dot {
  z-index: 1;
  width: 20%;
  position: absolute;
  bottom: -2em;
  left: -2.5em;
}

.page-wrapper .hero__section .wrap__tutor .wrap__image {
  position: relative;
  margin-top: 10%;
  z-index: 5;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.page-wrapper .hero__section .wrap__tutor .wrap__image img {
  max-width: 100%;
  float: right;
}

.page-wrapper .hero__section .hero__left {
  max-width: 500px;
  padding-top: 5vh;
}

@media screen and (min-width: 1300px) {
  .page-wrapper .hero__section .hero__left {
    padding-top: 15vh;
  }
}

@media screen and (max-width: 600px) {
  .page-wrapper .hero__section .hero__left {
    text-align: center !important;
    padding-top: 2em;
  }
}

@media screen and (min-width: 1600px) {
  .page-wrapper .hero__section .hero__left {
    max-width: 650px;
  }
}

.page-wrapper .hero__section .hero__left .curved__caption {
  background-color: #10a3ff2b;
  color: #002984;
  border-radius: 20px;
  padding: 0.8em 2em;
  max-width: 250px;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .page-wrapper .hero__section .hero__left .curved__caption {
    text-align: center !important;
    margin: 0 auto;
    text-align: center;
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .page-wrapper .hero__section .hero__left .curved__caption {
    max-width: 300px;
    text-align: center;
    font-size: 14px;
  }
}

.page-wrapper .hero__section .hero__left h1 {
  margin-top: 6%;
  color: #002984;
  font-family: "Monsterrat bold";
  text-align: left;
  font-size: 50px;
}

@media screen and (max-width: 600px) {
  .page-wrapper .hero__section .hero__left h1 {
    text-align: center !important;
  }
}

@media screen and (min-width: 1600px) {
  .page-wrapper .hero__section .hero__left h1 {
    font-size: 70px;
    margin-top: 10px;
  }
}

.page-wrapper .hero__section .hero__left .caption__content {
  margin-top: 2em;
  margin-right: 130px;
}

.page-wrapper .hero__section .hero__left .caption__content span {
  font-size: 20px;
  line-height: 1.6;
}

.page-wrapper .hero__section .hero__left .enroll__wrapper {
  margin-top: 5%;
}

.page-wrapper .hero__section .hero__left .enroll__wrapper button {
  background-color: #10a3ff;
  color: white;
  padding: 1em 3em;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  height: unset !important;
  font-family: "Monsterrat bold";
}

.page-wrapper .ui.grid > .column:not(.row) {
  position: inherit !important;
}

.page-wrapper .inhome__tutor {
  margin-top: 10%;
  margin-bottom: 5%;
}

.page-wrapper .inhome__tutor .caption__header h1 {
  font-family: "Monsterrat bold";
  color: #002984;
  margin-bottom: 1em;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.page-wrapper .inhome__tutor .boxes {
  margin-top: 5%;
}

.page-wrapper .inhome__tutor .boxes .box {
  background: white 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
  padding: 2em 1em;
}

.page-wrapper .inhome__tutor .boxes .box:hover {
  -webkit-box-shadow: 2px 19px 37px rgba(0, 0, 0, 0.04);
  box-shadow: 2px 19px 37px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px !important;
    line-height: 37px;
  }
  .page-wrapper .hero__section .hero__left h1,
  .page-wrapper .inhome__tutor .caption__header h1 {
    margin-top: 30px;
  }
  .page-wrapper .watch__video .video__right h1 {
    font-size: 35px !important;
    margin-top: 30px !important;
    margin-right: 0 !important;
  }
  .page-wrapper .watch__video .video__right .caption__content span.light {
    font-size: 20px;
    line-height: 1.6;
  }
  .page-wrapper .hero__section .hero__left .caption__content {
    margin: 40px 0;
  }
  .page-wrapper .watch__video {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
  .page-wrapper .watch__video .bg__wrapper {
    height: 200px !important;
  }
  .page-wrapper .watch__video .bg__wrapper .justify__content {
    height: 370px !important;
  }
  .page-wrapper .inhome__tutor .boxes .box {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .carousel__section .carousel__caption {
    padding-bottom: 10px !important;
  }
}

.page-wrapper .inhome__tutor .boxes .box img {
  width: 30%;
}

.page-wrapper .inhome__tutor .boxes .box h2 {
  text-align: left;
  font-family: "Monsterrat bold";
}

.page-wrapper .inhome__tutor .boxes .box .caption span {
  line-height: 1.6;
  font-size: 16px;
  font-weight: 100 !important;
}

.page-wrapper .watch__video {
  margin-bottom: 1em;
  background: rgba(16, 163, 255, 0.04) 0% 0% no-repeat padding-box;
  margin-top: 3em;
  padding-top: 4em;
  padding-bottom: 5em;
}

.page-wrapper .watch__video .video__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 40%;
}

.page-wrapper .watch__video .video__wrap img {
  width: 60%;
}

.page-wrapper .watch__video .video__wrap a {
  display: block;
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .page-wrapper .watch__video .video__wrap img {
    width: 70%;
  }
}

.page-wrapper .watch__video .video__right .curved__caption {
  background-color: rgba(16, 163, 255, 0.17);
  border-radius: 20px;
  padding: 0.3em 2em;
  max-width: 250px;
  font-size: 14px;
}

@media screen and (min-width: 1600px) {
  .page-wrapper .watch__video .video__right .curved__caption {
    max-width: 270px;
    font-size: 16px;
  }
}

.page-wrapper .watch__video .video__right .curved__caption {
  background-color: #10a3ff2b;
  color: #002984;
  border-radius: 20px;
  padding: 0.6em 2em;
  max-width: 250px;
  font-size: 14px;
}

.page-wrapper .watch__video .video__right h1 {
  margin-top: 10px;
  color: #002984;
  font-family: "Monsterrat bold";
  text-align: left;
  margin-right: 100px;
  font-size: 50px;
}

.page-wrapper .watch__video .video__right .caption__content {
  margin-top: 2em;
}

.page-wrapper .watch__video .video__right .caption__content span {
  font-size: 20px;
  line-height: 1.6;
}

@media screen and (min-width: 1500px) {
  .page-wrapper .watch__video .video__right .caption__content span {
    max-width: 270px;
    font-size: 20px;
    line-height: 1.6;
  }
}

.page-wrapper .watch__video .video__right .enroll__wrapper {
  margin-top: 5%;
}

.page-wrapper .watch__video .video__right .enroll__wrapper button {
  background-color: transparent;
  color: #10a3ff;
  padding: 1em 3em;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  height: unset !important;
  border: 1px solid #707070;
}

.page-wrapper .footer__section {
  margin-top: 4em;
  background-color: #002984;
  padding-top: 5em;
  padding-bottom: 5em;
}

.page-wrapper .footer__section .left__footer1 .logo__section img {
  width: 45%;
}

.page-wrapper .footer__section .left__footer1 .caption {
  padding-top: 3em;
  max-width: 350px;
}

.page-wrapper .footer__section .left__footer1 .caption span {
  color: white;
  line-height: 1.6;
}

.page-wrapper .footer__section .footer__links h3 {
  color: white;
  font-family: "Monsterrat bold";
  padding-bottom: 2em;
  font-size: 16px;
  font-weight: 600;
}

.page-wrapper .footer__section .footer__links .content a {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  display: block;
  margin-bottom: 1em;
  color: white;
  text-decoration: none;
}

.page-wrapper .footer__section .footer__links .content a img {
  padding-right: 10px;
  position: relative;
  top: 5px !important;
}

.page-wrapper .bottom__footer {
  background-color: #00226e;
}

.page-wrapper .bottom__footer .column span {
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .page-wrapper .bottom__footer .left {
    text-align: center;
    position: relative;
    padding-top: 20px;
  }
}

.page-wrapper .bottom__footer .right {
  visibility: hidden;
}

.page-wrapper .bottom__footer .right span {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .page-wrapper .bottom__footer .right {
    text-align: right;
    visibility: visible;
  }
}

.page-wrapper .bg__wrapper {
  padding: 3em;
}

.page-wrapper .bg__wrapper .justify__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.page-wrapper .bg__wrapper.video__background {
  min-height: 500px;
  width: 80%;
  padding: 40px !important;
}

.page-wrapper .bg__wrapper.video__background .justify__content {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/images/video-background.png");
}

@media screen and (max-width: 768px) {
  .page-wrapper .bg__wrapper .justify__content .video__background {
    width: 80%;
  }
}

.page-wrapper .is-active span {
  background-color: white !important;
}

.page-wrapper .mobile__call {
  display: none;
}

@media screen and (max-width: 600px) {
  .page-wrapper .mobile__call {
    display: block;
  }
  .page-wrapper .mobile__call span {
    display: block;
    padding-top: 8px;
    color: white;
  }
  .page-wrapper .mobile__call span img {
    padding-right: 10px;
    position: relative;
    top: 3px;
  }
}

.carousel__section .carousel__caption {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.carousel__section .carousel__caption h1 {
  margin-top: 10%;
  color: #002984;
  font-family: "Monsterrat bold";
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.carousel__section .carousel__caption .caption__content {
  margin-top: 2em;
}

.carousel__section .carousel__caption .caption__content span {
  font-size: 20px;
  line-height: 1.6;
}

.carousel__section .container__ .macbook {
  margin-top: -110px;
}

@media screen and (min-width: 1700px) {
  .carousel__section .carousel__caption .caption__content span {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media screen and (min-width: 1200px) {
  .carousel__section .owl-carousel .owl-item:nth-child(1) .box {
    margin-left: -15px !important;
  }
}

.owl-stage {
  height: 405px !important;
  overflow: hidden !important;
}

.carousel__section .owl-carousel .item {
  min-width: 210px !important;
  min-height: 200px !important;
  margin: 40px 0;
}

.carousel__section .owl-carousel .item .box {
  padding: 40px 25px;
  background: white 0% 0% no-repeat padding-box;
  margin: 1em;
  border-radius: 16px;
  cursor: pointer;
}

.carousel__section .owl-carousel .item .box:hover {
  -webkit-box-shadow: 2px 19px 37px rgba(0, 0, 0, 0.04);
  box-shadow: -6px 19px 37px rgba(0, 0, 0, 0.04);
}

.carousel__section .owl-carousel .item .box .icon__image.maths {
  background-color: #ebfaff;
}

.carousel__section .owl-carousel .item .box .icon__image.physics {
  background-color: #f8e3f6;
}

.carousel__section .owl-carousel .item .box .icon__image.biology {
  background-color: #e9f9ec;
}

.carousel__section .owl-carousel .item .box .icon__image.chemistry {
  background-color: #ffe4e3;
}

.carousel__section .owl-carousel .item .box .icon__image.english {
  background-color: #fff5e3;
}

.carousel__section .owl-carousel .item .box .icon__image {
  border-radius: 50%;
}

.carousel__section .owl-carousel .item .box .icon__image img {
  max-width: 100%;
}

.carousel__section .owl-carousel .item .box h2 {
  text-align: left;
  margin-bottom: 0;
  font-size: 28px;
  font-family: "Monsterrat bold";
}

.carousel__section .owl-carousel .item .box .available__courses {
  padding-top: 0.2em;
}

.carousel__section .owl-carousel .item .box .available__courses span {
  font-size: 17px;
}

.carousel__section .owl-carousel .item .box .grid.column {
  padding-top: 0.8em;
}

.carousel__section .owl-carousel .item .box .grid.column span {
  font-size: 14px;
  position: relative;
  bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.carousel__section .owl-carousel .item .box .grid.column img {
  max-width: 15px;
  display: inline;
  margin-right: 10px;
}

.carousel__section .owl-carousel .item .box .view__course {
  padding-top: 1em;
  padding-bottom: 1em;
}

.carousel__section .owl-carousel .item .box .view__course a {
  color: #10a3ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.carousel__section .owl-carousel .item .box .view__course a:hover {
  text-decoration: none;
  color: #10a3ff;
}

.carousel__section .explore__section {
  margin: 0;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 10em;
}

.carousel__section .explore__section button {
  background-color: transparent;
  color: #10a3ff;
  padding: 0em 3em;
  height: 55px !important;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px !important;
  font-weight: 600;
  border: 1px solid #707070;
  opacity: 1;
}

.subscriptions {
  background: rgba(16, 163, 255, 0.04) 0% 0% no-repeat padding-box;
  margin-top: 3em;
  padding-top: 5em;
  padding-bottom: 5em;
}

.subscriptions .top {
  font-size: 34px;
  font-weight: 600;
  line-height: 40px;
  padding-right: 30px;
  color: #002984;
  margin-top: 100px;
  font-family: "Monsterrat bold";
}

.subscriptions .btm {
  font-size: 20px;
  line-height: 1.6;
  padding-right: 30px;
}

.subscriptions .band {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 23px #0000000a;
          box-shadow: 0px 8px 23px #0000000a;
  border-radius: 10px;
  padding: 20px 40px;
  min-height: 470px;
  position: relative;
}

.subscriptions .band .name {
  font-size: 44px;
  color: #707070;
}

.subscriptions .band .price {
  color: #707070;
  font-size: 14px;
}

.subscriptions .band .price span {
  color: #002984;
  font-size: 30px;
  font-weight: 600;
  padding-right: 4px;
  font-family: "Monsterrat bold";
}

.subscriptions .band ul {
  padding-left: 10px;
  margin-top: 30px;
}

.subscriptions .band ul li {
  font-size: 14px;
  margin-bottom: 5px;
}

.subscriptions .band ul li span {
  color: #707070;
}

.subscriptions .band.bw-band {
  border-top: 10px solid #10a3ff;
}

.subscriptions .band.bw-band button {
  background-color: #10a3ff;
  color: #fff;
  padding: 0 30px;
  width: 70%;
  border-radius: 40px;
  position: absolute;
  bottom: -30px;
  left: 15%;
  height: 55px !important;
  font-size: 16px !important;
}

.subscriptions .band.pp-band {
  border-top: 10px solid #002984;
}

.subscriptions .band.pp-band button {
  background-color: #002984;
  color: #fff;
  padding: 0 30px;
  width: 70%;
  border-radius: 40px;
  position: absolute;
  bottom: -30px;
  left: 15%;
  height: 55px !important;
  font-size: 16px !important;
}

@media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
  .subscriptions {
    padding-top: 4em;
  }
  .subscriptions .top {
    padding-right: 0;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    margin-top: 0;
  }
  .subscriptions .btm {
    font-size: 20px;
    line-height: 1.6;
    padding-right: 0px;
  }
  .subscriptions .band {
    margin-bottom: 30px;
  }
  .subscriptions .band .name {
    margin: 20px 0;
  }
}

.package__section {
  margin-top: 10%;
  margin-bottom: 7em;
  position: relative;
}

@media screen and (min-width: 1600px) {
  .package__section {
    margin-bottom: 12em;
  }
}

@media screen and (max-width: 768px) {
  .package__section {
    padding-bottom: 10em;
    margin-bottom: 14em;
  }
  .carousel__section .container__ .macbook {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .package__section {
    background-color: #10a3ff;
  }
}

.package__section .curvy {
  background-color: #10a3ff;
  border-radius: 50px;
  padding: 5em;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .package__section .curvy {
    padding: 3em 5em;
  }
}

@media screen and (max-width: 768px) {
  .package__section .curvy {
    padding: 0em;
    background-color: transparent;
    border-radius: 0;
  }
}

.package__section .study__pack {
  position: relative;
}

.package__section .study__pack img {
  position: absolute;
  width: 45%;
  left: 1%;
  top: -35%;
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .package__section .study__pack img {
    position: absolute;
    width: 50%;
    left: -2%;
    top: -25%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .package__section .study__pack img {
    position: absolute;
    width: 40%;
    left: 3%;
    top: -35%;
  }
}

@media screen and (max-width: 768px) {
  .package__section .study__pack img {
    position: absolute;
    width: 85%;
    top: 75%;
    left: 0;
  }
}

.package__section .ten h1 {
  text-align: left;
  font-family: "Monsterrat bold";
  color: white;
}

.package__section .ten h5 {
  color: white;
}

.package__section .ten .input {
  width: 80%;
}

.package__section .ten .input input {
  height: 60px !important;
  border-radius: 20px 0 0 20px;
  border: 0;
}

.package__section .ten .input button.ui.button {
  height: 60px !important;
  border-radius: 0 20px 20px 0 !important;
}

@media screen and (max-width: 768px) {
  .package__section .ten .input {
    width: 100%;
  }
}

.package__section .ten .input input {
  padding: 1em;
}

.package__section .ten .input button {
  background-color: #002984;
  color: white;
}

.container__ {
  margin-left: 180px;
  margin-right: 180px;
}

@media screen and (max-width: 1500px) and (min-width: 1400px) {
  .container__ {
    margin-right: 120px;
    margin-left: 120px;
  }
}

@media screen and (max-width: 600px) {
  .container__ {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.login__ {
  font-family: "Monsterrat bold";
}
/*# sourceMappingURL=Landingpage.css.map */