.signup {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  .left-side {
    width: 45%;
    float: left;
    background-image: url("../../assets/images/Signup\ Background.svg");
    background-position-y: -8px;
    background-position-y: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    position: relative;
    .myslide {
      color: #fff;
      height: 100vh;
      background-color: transparent;
      position: relative;
      padding-top: 20vh;
      p {
        padding: 0 30px 0 100px;
        text-align: left;
        width: 75%;
      }
      .main-text {
        font-size: 38px;
        font-weight: 600;
        line-height: 48px;
        animation: fade-in;
        animation-duration: 1s;
        margin-top: 10px;
      }
      .smalls {
        font-size: 18px;
        line-height: 24px;
      }
      img {
        position: absolute;
        bottom: -65px;
        left: 0;
        width: 100%;
      }
    }
  }
  .right-side {
    width: 55%;
    float: left;
    padding: 70px 170px;
    overflow: hidden;
    height: 100vh;
    .mobileLogo {
      display: none;
    }
    .welcome {
      font-size: 24px;
      text-align: left;
      color: #000000;
      font-weight: 600;
    }
    .buttons {
      border-bottom: 0.5px solid #bdbdbd;
      padding-bottom: 40px;
      button {
        width: 31%;
        height: 33px;
        line-height: 35px;
        font-size: 12px !important;
        background-color: #fff;
        img {
          height: 15px;
          position: relative;
          top: 2px;
        }
        span {
          position: relative;
          top: -3px;
          left: 4px;
          font-weight: 600;
        }
        &.tw {
          margin: 0 3%;
        }
      }
    }
    .fb {
      background-size: cover;
      background-position: center;
      background-image: url("../../assets/images/fb.svg");
    }
    .tw {
      background-size: cover;
      background-position: center;
      background-image: url("../../assets/images/tw.svg");
    }
    .gg {
      border: 0.30000001192092896px solid #d8d8d8;
      background-size: cover;
      background-position: center;
      background-image: url("../../assets/images/gg.svg");
    }
    .or {
      margin-top: -10px;
      text-align: center;
      span {
        background-color: #fff;
        padding: 0 35px;
      }
    }
    .form {
      padding-top: 30px;
      margin-bottom: 80px;
      .half {
        width: 48%;
        display: inline-block;
      }
      .label {
        font-weight: 600;
        color: #000;
        font-size: 12px;
      }
      input {
        background: #f8f8f8;
        height: 40px;
        border: 0;
        width: 100%;
        padding: 0 20px;
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 14px;
        &:focus {
          outline: none;
          border: 1px solid #eee;
        }
      }
      .forgot {
        float: right;
        font-size: 12px;
        position: relative;
        top: -5px;
      }
      .main-btn {
        height: 50px;
        width: 100%;
        font-weight: 600;
      }
      .no-acct {
        font-size: 12px;
        position: relative;
        top: 10px;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    overflow: auto !important;
    .left-side {
      display: none;
    }
    .right-side {
      width: 100%;
      padding: 150px 20px 20px;
      position: relative;
      overflow: auto !important;
      .mobileLogo {
        display: block;
        position: absolute;
        top: 30px;
        left: 20px;
        img {
          height: 30px;
          display: inline-block;
        }
      }
      .welcome {
        font-size: 20px;
      }
      .buttons {
        padding-bottom: 40px;
        button {
          img {
            height: 13px;
            position: relative;
            top: 0px;
          }
        }
      }
      .form {
        input {
          margin-bottom: 15px;
        }
        .half {
          width: 100%;
          display: block;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel .control-dots {
  text-align: left !important;
}
.carousel .control-dots {
  bottom: 60px;
  left: 80px;
  .dot {
    box-shadow: unset;
  }
}
.carousel .control-dots .dot.selected {
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
}
