@import "../margins_padding.sass";

@font-face {
  font-family: helvetica;
  src: url("./assets/fonts/Helvetica.ttc");
}

@font-face {
  font-family: "Monsterrat bold";
  src: url("./assets/fonts/Montserrat-Black.otf");
}

// @font-face {
//   font-family: helvetica-light;
//   src: url("./assets/fonts/helvetica-light-587ebe5a59211.ttf");
// }

// .light {
//   font-family: helvetica-light !important;
// }

// global styles
* {
  box-sizing: border-box;
  font-family: helvetica;
  letter-spacing: 0.1px;
}

.App {
  width: 100%;
  height: 100vh;
}

.bordered {
  border: 0.5px solid rgba(160, 157, 157, 0.253);
  border-radius: 8px;
}

.bg-top {
  border-radius: 8px 8px 0 0;
  border: 0.5px solid rgba(160, 157, 157, 0.253);
}

.bg-bottom {
  border-top: 0 !important;
  border: 0.5px solid rgba(160, 157, 157, 0.253);
  border-radius: 0 0 8px 8px;
}

#nav-icon1 {
  display: none;
}

.loader-wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 123443545656565;
  background-color: #00000049;
  // opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  img {
    margin-top: 40vh;
    width: 80px;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.inp-wrap {
  position: relative;
  .eye {
    position: absolute;
    right: 20px;
    top: 40px;
    width: 20px;
    cursor: pointer;
  }
}

//makeshift table

.fixed-table {
  .tr {
    width: 100%;
    font-size: 14px;
    padding: 15px 0;
    color: #474747;
    &.thead {
      font-weight: 600;
      border-bottom: 1px solid #c2c2c2;
    }
    div {
      display: inline-block;
      width: 15%;
    }
    .activity {
      width: 35%;
    }
    .points {
      width: 20%;
    }
  }
  .tbody {
    height: 230px;
    overflow: auto;
  }
}

// helpers
.f-right {
  float: right;
}

.f-left {
  float: left;
}
a {
  color: #000;
  text-decoration: none;
}
// texts
.blue--text {
  color: #0097f5;
}
.red--text {
  color: #ff1010;
}

// backgrounds
.bg_1 {
  background: #ff0301;
}
.bg_2 {
  background: #ffa701;
}
.bg_3 {
  background: #3c7702;
}
.bg_4 {
  background: #0137af;
}
.bg_5 {
  background: #1f3c44;
}
.bg_6 {
  background: #ff4502;
}
.bg_7 {
  background: #a7cc7c;
}
.bg_8 {
  background: #910809;
}
.bg_9 {
  background: #0036af;
}
.bg_10 {
  background: #c69393;
}
.bg_11 {
  background: #8b3e27;
}
.bg_12 {
  background: #ff4500;
}
.bg_13 {
  background: #1f3c43;
}
.bg_14 {
  background: #910707;
}
.bg_15 {
  background: #5563ff;
}
.bg_16 {
  background: #73519b;
}
.bg_white {
  background-color: #fff;
}

.has-error {
  border: 1px solid #ff6868 !important;
  background-color: #fff6f6 !important;
}

input:focus {
  outline: none;
}

// buttons
button {
  border: 0;
  font-size: 14px !important;
  height: 40px !important;
  font-weight: 600;
  // line-height: 45px !important;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: 0.5 !important;
    cursor: not-allowed !important;
  }
}
.main-btn {
  background: #002984;
  color: #fff;
}
.blue-btn {
  background: #fff;
  border: 1px solid #10a3ff;
  color: #10a3ff;
  border-radius: 7px;
  &:hover {
    background: #03a9f4;
    color: #fff;
    border: 1px solid #fff;
  }
}
.fb-btn {
  background: #1976d2;
  color: #fff;
}

.tw-btn {
  background: #03a9f4;
  color: #fff;
  border-radius: 7px;
}

.gg-btn {
  background: #fff;
  color: #000;
  border: 0.30000001192092896px solid #f1f1f1;
}

// overrides
.MJXc-display {
  margin: 0 !important;
  text-align: left !important;
}
.Snackbar_snackbar-wrapper__ocbPJ,
.Snackbar_snackbar-wrapper-top-right__2CAmf {
  z-index: 40 !important;
}

.carousel .slide {
  background-color: transparent !important;
}

.css-1okebmr-indicatorSeparator {
  display: none !important;
}

.css-yk16xz-control {
  border: 1px solid #eee !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #c4e9ff7a;
  // background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #545d63;
  border-radius: 10px;
}

@media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 4px !important;
  }

  ::-webkit-scrollbar-track {
    background-color: #c4e9ff7a;
    // background-color: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #545d63;
    border-radius: 10px;
  }
  #nav-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    float: right;
    margin: 22px 10px;
    display: block;
    z-index: 55;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 34px;
    background: #cecece;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    background: #0ca3ff;
  }
  #nav-icon1.open span {
    background-color: #fff;
    height: 2px;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 8px;
    left: 8px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 16px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .fixed-table {
    width: 100%;
    overflow: auto;
    .tbody,
    .thead {
      width: 200% !important;
    }
    .tbody {
      height: auto;
    }
  }
}

.pre-footer {
  background: #fafafa;
  height: 70px;
  line-height: 70px;
  width: 100%;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 40px;
  padding-top: 15px;
  p {
    margin: 0;
    color: rgba(0, 0, 0, 0.377);
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 20px 0;
    font-size: 12px;
    p {
      width: 100%;
      text-align: center;
      line-height: 20px;
    }
  }
}
