.faq {
  padding: 0px;
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
  .nav {
    position: fixed;
    top: 0;
  }
  .edit-contents {
    height: calc(100vh - (65px));
    overflow: auto;
    margin-top: 65px;
  }
  .banner {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 160px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background-image: url("../../assets/images/dash.svg");
    position: relative;
    .backArrow {
      position: absolute;
      bottom: 15px;
    }
    .mobile-title-text {
      font-size: 12px;
      padding: 10px 25px;
      background-color: #5eade4;
      color: #fff;
      position: absolute;
      bottom: 15px;
      left: 20px;
      border-radius: 25px;
      display: none;
    }
  }
  .contents {
    padding: 60px 300px;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
    input {
      width: 100%;
      height: 60px;
      border: 1px solid #c4c4c4;
      margin-bottom: 20px;
      padding-left: 20px;
      border-radius: 4px;
      background-color: transparent;
    }
    textarea {
      width: 100%;
      height: 70px;
      border: 1px solid #c4c4c4;
      height: 200px;
      background-color: transparent;
      padding: 20px;
      border-radius: 4px;
    }
    .submit {
      //   float: left;
      padding: 0 30px;
      font-weight: 600;
      margin-top: 20px;
      // border-radius: 8px;
      margin-bottom: 50px;
      // width: 100%;
    }
    .sub {
      font-size: 14px;
      padding: 0 80px;
      margin-bottom: 50px;
    }
    .questions {
      text-align: center;
    }
    .accordion {
      width: 100%;
      text-align: left;
      transition: linear all 0.3s;
      margin-bottom: 20px;
      .top {
        width: 100%;
        height: 55px;
        line-height: 55px;
        background-color: #03a9f4;
        color: #fff;
        padding-left: 30px;
        cursor: pointer;
      }
      .btm {
        font-size: 14px;
        color: #2c2c2c;
        line-height: 22px;
        display: none;
        overflow: hidden;
        transition: linear all 0.15s;
        &.open {
          overflow: auto;
          display: block;
          padding: 30px;
          border: 1px solid #cecece;
        }
      }
    }
  }
  .band {
    width: 100%;
    padding: 50px;
    text-align: center;
    background-color: #002984;
    color: #5471ad;
    font-size: 10px;
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 0;
    height: auto;
    overflow: auto;
    .banner {
      font-size: 14px;
      padding: 20px;
      background-position-x: 83%;
      .backArrow {
        display: none !important;
      }
      .mobile-title-text {
        display: block !important;
      }
    }
    .contents {
      padding: 20px;
    }
  }
}
