.progress {
  padding: 0 20px;
  .wide-side {
    float: left;
    width: 70%;
    background-color: #fff;
    .stats {
      padding: 30px;
      .sub-heading {
        font-size: 12px;
        margin-top: 0;
      }
      .filters {
        .selects {
          display: inline-block;
          width: 35%;
          margin-right: 20px;
        }
        .css-1pahdxg-control {
          height: 42px !important;
          min-height: 42px !important;
          width: 100%;
          border-radius: 0;
        }
        .css-yk16xz-control {
          border: 1px solid #eee;
          height: 42px !important;
          min-height: 42px !important;
          background: #fff;
          width: 100%;
          border-radius: 0;
        }
        button {
          float: right;
          width: 23%;
          height: 40px;
        }
      }
    }
  }
  .narrow-side {
    float: right;
    width: calc(30% - 30px);
  }
  .heading {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 20px;
    margin: 0;
    span {
      font-size: 12px;
      color: #c2c2c2;
      font-weight: 300;
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    .wide-side {
      width: 100%;
      display: block;
      .stats {
        .filters {
          margin-bottom: 85px;
          .selects {
            width: 100%;
            margin: 10px 0 0 0;
          }
          button {
            margin-top: 10px;
            width: 100%;
          }
        }
      }
    }
    .narrow-side {
      width: 100%;
      display: block;
      margin-top: 40px;
      .badge-wrap {
        display: none;
      }
    }
  }
}
