.edit {
  padding: 0px;
  background-color: #fafafa;
  height: 100vh;
  overflow: hidden;
  .banner {
    height: 130px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 160px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    background-image: url("../../../../assets/images/dash.svg");
    position: relative;
    span {
      position: absolute;
      bottom: 30px;
    }
  }
  .contents {
    padding: 40px 160px;
  }
  .heading {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding: 20px 30px;
    margin: 0;
    background-color: #fff;
  }
  .wide {
    float: left;
    width: 70%;
    background-color: #fff;
    .form {
      margin-bottom: 80px;
      padding: 30px;
      .inp-wrap {
        width: 100%;
        position: relative;
        display: inline-block;
        img {
          position: absolute;
          top: 42px;
          right: 20px;
          cursor: pointer;
          height: 15px;
        }
        .alert {
          font-size: 10px;
          color: #fa0000;
          position: absolute;
          top: 42px;
          right: 20px;
        }
      }
      .left {
        width: 49%;
        float: left;
      }
      .right {
        width: 49%;
        float: right;
      }
      .label {
        color: #000;
        font-size: 14px;
      }
      input {
        background: #f8f8f8;
        height: 50px;
        border: 0;
        width: 100%;
        padding: 0 20px;
        margin-top: 5px;
        margin-bottom: 25px;
        font-size: 16px;
        &:focus {
          outline: none;
          border: 1px solid #eee;
        }
      }
      .forgot {
        float: right;
        font-size: 12px;
        position: relative;
        top: -5px;
      }
      .main-btn {
        height: 60px;
        width: 100%;
        font-weight: 600;
      }
      .no-acct a {
        font-size: 12px;
        position: relative;
        top: 10px;
        cursor: pointer;
      }
      button {
        padding: 0 30px;
      }
    }
    button {
      border-radius: 10px;
    }
  }
  .small {
    float: right;
    width: calc(30% - 30px);
    .switches {
      background-color: #fff;
      padding: 25px;
      p {
        font-size: 12px;
        margin-bottom: 30px;
        width: 100%;
        span {
          float: right;
        }
      }
      button {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
      }
    }
  }

  @media (max-width: 768px), (min-width: 768px) and (max-width: 1024px) {
    padding: 0;
    height: auto;
    overflow: auto;
    .banner {
      font-size: 14px;
      padding: 20px;
      background-position-x: 83%;
    }
    .contents {
      padding: 20px;
    }
    .wide {
      width: 100%;
      display: block;
    }
    .small {
      width: 100%;
      display: block;
      margin-top: 30px;
    }
  }
}
